body {
    background-color: #222222;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;

}

.container h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    color: aqua;
}

.menu {
    background-color: #222222;
    width: 100%;
    position: fixed;
    box-shadow: 0px 5px 10px rgb(35, 35, 35);
    padding: 30px;
}

.menu_logo {
    width: 200px;
}

.menu_logo a {
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    background-image: url(assets/img/icons/site_logo.svg);
    background-repeat: no-repeat;
    background-position: center-left;
    padding-left: 50px;

}

.menu_nav {
    float: right;
}

.menu_nav a {
    text-decoration: none;
    color: white;
}

.menu_logo,
.menu_nav {
    display: inline-block;
}

.header {
    background-image: url(assets/img/apex-legends-robot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 150px;
}

.header a {
    background-color: rgb(22, 184, 209);
    text-decoration: none;
    color: white;
}

.services {
    background-color: #222222;
    text-align: center;
    font-size: 0px;
}

.services_item {
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    font-size: 25px;
    color: aqua;
}
.item_text,
.item_text2{
    padding-left: 20px;
    box-sizing: border-box;
}
.item_text h3,
.item_text2 h3{
    width: 128px;
    color:  rgb(39, 158, 35);
    border-bottom: 3px solid rgb(79, 212, 79);
}

.services .item1 {
    background-image: url(assets/img/icons/friendly.svg);

}

.services .item2 {
    background-image: url(assets/img/icons/joystic.svg);

}

.services .item3 {
    background-image: url(assets/img/icons/scope.svg);
}

.services .item4 {
    background-image: url(assets/img/icons/twitch.svg);
}

.games {
    padding-bottom: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
    background-color: #222222;
}

.item_text {
    float: left;
    width: 50%;
}

.item_text2 {
    float: right;
    width: 50%;
}

.item_text p,
.item_text2 p {
    text-align: center;
    color: aqua;
}

.games img {
    box-sizing: border-box;
    padding: 0 5px;
    width: 50%;
    height: 180px;
    display: block;
}

.description {
    text-align: center;
}

.description h1 {
    color: aqua;
}

.description p {
    color: white;
}

.discord {
    width: 580px;
    padding: 20px;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px black;
}

.discord h1 {
    width: 250px;
    border-bottom: 2px solid white;
    text-align: center;
    margin: 0 auto;
    color: aqua;
}

.discord h2 {

    display: inline-block;
    margin-right: 350px;
    color: white;
}

.discord h4 {
    display: inline-block;
    color: white;
}

.blue_black {
    background-color: rgb(126, 202, 228);
}
.register {
    display: inline-block;
    background-color: black;
    text-decoration: none;
    width: 86px;
    height: 26px;
}